@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Nunito&family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('./signIn and SignUp/signin.css');
:root{
    --color-black:rgb(20 20 20);
    --color-light-black:#141414;
    --color-red:#e50914;
    --color-red-transparent:#e50914a9;
    --color-white:#fff;
    --color-green:#499F68;
    --color-yellow:#e87c03; 
    --color-orange:#f78e69;
    --color-font:'Roboto', sans-serif;
}

*{
    background-color: var(--color-black);
    font-family: var(--color-font);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.nav-container{
    display: flex;
    justify-content: space-between;
}
.nav-title{
    display: inline-block;
    margin: 0;
    color: var(--color-red);
    font-size: 3rem;
    font-weight: 600;
    margin-left: 1rem;
}
.nav-title-short{
    color: var(--color-white);
    font-size: 2rem;
}
.navbar-icons{
    margin-left: 1rem;
    color: var(--color-white);
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.2rem;
    margin-right:1rem;
}
.nav-side{
    align-self: center;
    margin-right: 1rem;
}
a{
    text-decoration: none;
    color: var(--color-white);
}
a:visited{
    color: var(--color-white);
}

.input-box{
    align-self: center;
    display: inline-flex;
    background-color: transparent;
    border-radius: 5px;
    padding: 6px;
    border: 1px solid var(--color-white);
    color: var(--color-white);
    height: 2.5rem;
    width: 30%;
    align-items: center;
}
.store-input-box{
    background-color: transparent;
    padding: 6px;
    border: none;
    color: var(--color-white);
    width: 96%
}
.store-input-box::placeholder{
    color: var(--color-white);
    border: none;
}

.store-input-box:focus {
    display: inline-block;
    border: none;
}    
.store-input-box:focus-visible {
    display: inline-block;
    border: none;
    outline: none;
}    

.btn{ 
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
}
.btn-primary{
    background-color: var(--color-red);
    color: var(--color-white);
}
.btn-primary:hover{
    background-color: var(--color-red-transparent);
    color: var(--color-white);
}
.img-carousel{
    display: flex;
    justify-content: center;
}
.image{
    max-width: 100%;
    object-fit: cover;
}

.product-categories{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
.product-category-title{
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: var(--color-white);
}

.category-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    justify-content: center;
    margin-right: 1rem;
}

.card-align-item-start{
    align-items: start;
}

.category-title{
    background-color: transparent;
}
.category-image{
    margin: 0;
}

.btn-section{
    position: absolute;
    bottom: 1rem;
    align-self: center;
    border-radius: 0.3rem;
}

.ecommerce-footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--color-white);
    background-color: var(--color-black);
    width: 100%;
    height: 4rem;
}

.text{
    background-color: var(--color-black);
    margin-bottom: 7px;
}

.social-links-group{
    list-style: none;
    padding: 0rem;

}
.social-links{
    float: left;
    padding: 5px;
}