.wishlist-title{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.wishlist-container{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;

    margin-left: 10rem;
    margin-right: 10rem;
}

#in-wishlist{
    color: var(--color-red);
}